# For Data Ingestion
beautifulsoup4
requests
PyMuPDF

# For Chunking, Embedding, and DB
langchain
langchain-community
langchain-core
sentence-transformers
chromadb

# Fix for chromadb dependency conflict
urllib3<2.4.0